name: Deploy CloudFormation

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
            --stack-name shopfast-auth-dev \
            --template-file templates/userpool.yaml \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides \
                StackName=shopfast-auth-dev \
                AuthDomainName=auth-dev.denilparmar.work \
                ShopFastCognitoCert=arn:aws:acm:us-east-1:388742983609:certificate/05cf3755-c9f8-482f-950b-f683cd2cdf64



